@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@400;600&display=swap");

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.container {
  margin: auto 0;
}
.container-box {
  width: 375px;
  height: 100%;
  margin: 0 auto;
}
.top-left {
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--Violet);
}

.logo {
  transform: scale(0.6);
  padding-bottom: 3rem;
  margin-left: -1rem;
}

.illustration {
  padding: 0 2rem 0 2rem;
  width: 100%;
  height: 100%;
  padding-bottom: 1.6rem;
}

.bot-right {
  background-color: var(--Violet);
  text-align: center;
  padding: 0.6rem;
  position: relative;
}

.text-area h1 {
  text-transform: capitalize;
  font-size: 1.7rem;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-bottom: 1rem;
}
.text-area p {
  padding: 0 0.8rem 0 0.8rem;
  color: white;
  opacity: 0.8;
  padding-bottom: 1rem;
  font-weight: lighter;
}
.text-area button {
  cursor: pointer;
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  color: var(--Violet);
  box-shadow: 2px 10px 12px rgb(82, 50, 133);
}
.text-area button:hover {
  color: white;
  background-color: var(--Soft-Magenta);
  transition: 0.3s ease;
}
.social {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
  background-color: var(--Violet);
  text-align: center;
}
.social i {
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: white;
  border: 1px solid white;
  border-radius: 100%;
  padding: 0.6rem;
  width: 10%;
  height: 60%;
  cursor: pointer;
}
.social i:hover {
  color: var(--Soft-Magenta);
  border: 1px solid var(--Soft-Magenta);
  transition: 0.3s ease;
}


@media (min-width: 1100px){

  .container-box{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Violet);
    padding:3rem
    
  }
  .top-left{
    background: none;
    width: 100%;
  }
  .top-left .illustration{
 width: 100%;
 height: 80%;

  }


  .bot-right{
    background-color: transparent;
 margin-left: 4rem;
 text-align: left;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 8rem;
  }
.bot-right h1{
font-size: 3rem;
padding-right: 2rem;
}
.bot-right p{
  font-size: 1.1rem;
width: 85%;
padding-bottom: 1rem;
}
.bot-right button{
  width: 25%;

}

.bot-right .social{
bottom: 0;
right: 0;
  
}
.social{
 text-align: right;
 /* border: 2px solid yellow; */
margin-top: 5rem;
background: transparent;

}
.social i{
text-align: center;
justify-content: center;
align-items: center;
width: 5%;
height: 100%;

}
}